@model Prueba_Tecnica_CNBS.Models.Lqa

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Lqa</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Iliq" />
            <input type="hidden" asp-for="Iddt" />
            <input type="hidden" asp-for="Nart" />
            <div class="form-group">
                <label asp-for="Clqatax" class="control-label"></label>
                <input asp-for="Clqatax" class="form-control" />
                <span asp-validation-for="Clqatax" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Clqatyp" class="control-label"></label>
                <input asp-for="Clqatyp" class="form-control" />
                <span asp-validation-for="Clqatyp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Mlqabas" class="control-label"></label>
                <input asp-for="Mlqabas" class="form-control" />
                <span asp-validation-for="Mlqabas" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Qlqacoefic" class="control-label"></label>
                <input asp-for="Qlqacoefic" class="form-control" />
                <span asp-validation-for="Qlqacoefic" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Mlqa" class="control-label"></label>
                <input asp-for="Mlqa" class="form-control" />
                <span asp-validation-for="Mlqa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
